#breadcrumbsBar {
    position: absolute;
    width: 80%;
    height: auto;
    top: 12%;
    left: 10%;
    margin-bottom: 10px;
}

#helpInfo {
    position: absolute;
    width: 80%;
    height: auto;
    top: 15%;
    left: 10%;
    margin-bottom: 10%;
}

/* Adjust Menu colors - Normal */
.dropdown-toggle {
	font-size: 16px;
}

.dropdown-header {
	color: #148CB4;
}

/* Navbar adjustments */
navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.container-fluid {
    background-color: grey;
    border-color: grey;
}

.navbar-collapse {
    background-color: grey;
    border-color: grey;
}

.nav>li>a {
    color: lightgray;
}

.navbar-default .navbar-nav>li>a {
    color: lightgray;
}

.navbar-brand, .navbar-nav>li>a {
    text-shadow: 0 0 0 rgba(255,255,255,.25);
}

#logo2 {
	margin-top: 18px;
	margin-right: 10px;
	cursor: hand;
}

a { 
	cursor: hand; 
}

p {
    text-align: justify;
}