body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.colpick {
  z-index: 9999;
}

.navbar {
  margin-bottom: 10px;
}

#map_canvas {	
	width: 100%;
	height:100%;
	overflow: hidden;
}

#coordinates {
	position: absolute;
	top: 70px;
	left: 120px;
	z-index: 1;
	color: #FFCC66;
	font-size: 16px;
	font-weight: bold;
}

#userDefinedData {
	position: absolute;
	top: 150px;
	left: 20px;
}

#drawPoint, #drawRectangle {
	width: 28px;
	height: 28px;
}

#searchMapExtentForm, #searchMapExtentFormGEOSS {
	height: 30%;
}

#searchFormGroupButtons, #searchFormGroupButtonsGEOSS {
	position: absolute;
	top: 7%;
	right: 5%;
	z-index: 50;
}

#mapChangesetForm {
	height: 50%;
}

#searchFormGroupButtonsChangeset {
	position: absolute;
	top: 17%;
	right: 5%;
	z-index: 50;
}

#legendPanel {
	position: absolute;
	width: 40%;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	background-color: white;
}

#sextantPanels {
	position: absolute;
	width: 100%;
	height:90%;
	right: 0;
	top: 51px;
	background-color: white;
	overflow-y: auto;
}

#explorePanel {
	cursor: hand;
}

#animatePanelButton {
	position: absolute;
	width: 40px;
	height: 50px;
	top: 66px;
	right: 99%;
}

#animateTimelineButton {
	position: absolute;
	width: 40px;
	height: 50px;
	bottom: 22%;
	right: 99%;
}

#animateSwefsPanelButton {
	position: absolute;
	width: 40px;
	height: 50px;
	bottom: 100px;
	right: 99%;
}

#layerspageHeader {
	cursor: hand;
}

#layerspage {
	
}

#exploreClasses {
	margin-top: 20px;
}

#mapPageHeader {
	cursor: hand;
}

#mapPage {
	
}

#layerInfoModalTable {
	overflow: auto;
}

#modalChartBody {
	width: 100%;
	height: 70%;
	overflow: auto;
}

#myCharts {
	position: relative;
	max-width: 200%;
	overflow: auto;
}

#mapInfoList {
	position: absolute;
	height: 60%;
}

#map_extent {
	width: 100%;
	height: 35%;
	border-style: solid;
    border-color: red;
}

#timeMap {
  float: right;
  width: 49%;
  margin-top: 20px;
}

#simpleMap {
  float: left;
  width: 49%;
  margin-top: 20px;
}

.rightButton {
  width: 205px;
  margin-bottom: 20px;
  margin-top: 10px;
  right: 0px;
  position: absolute;
}

.leftButton {
  width: 205px;
  margin-bottom: 20px;
  margin-top: 10px;
  position: absolute;
}

#strokeColorID, #userStrokeColorID {
  background-color: white;
  border-color: #D2D2D2;
}

#fillColorID, #userFillColorID {
  background-color: white;
  border-color: #D2D2D2;
  margin-top: 10px;
}

#swefsPanel {
	position: absolute;
	width: 20%;
	height: 22%;
	right: 90%;
	bottom: 40px;
	border-style: solid;
    border-width: 3px;
    border-radius: 0px 0px 8px 8px;
    
    background-color: white; border-color: #D2D2D2;
       
    background-color: #428bca; border-color: #357ebd;
    color: white;
}

#tmContainer {
	position: absolute;
	width: 100%;
	height: 30%;
	top: 70%;	
}

#timeline {
	position: relative;
	width: 100%;
	height: 100%;
}

#moveLeft {
	display: none;
	margin-top: 1px;
	padding-bottom: 5px;
}

#moveMetric {
	display: none;
	margin-top: 1px;
	text-align: center;
	padding-bottom: 5px;
}

#moveRight {
	display: none;
	margin-top: 1px;
	padding-bottom: 5px;
}

.arrow {
	position: absolute;

}



#fileName {
	margin-top: 8px;
}

.modal-header {
	background-color: #F0F0F0;
}

#colorPanel {
	position: absolute;
	width: 35%;
	max-height: 70%;
	top: 100px;
	left: 70px;
	z-index: 1;	
	overflow-y: hidden;
}

#colorPanelBody {
	position: relative;
	width: 100%;	
	height: 500px;
	overflow: scroll;
}

#hideColorPanel {
	margin-right: 10px;
}

.alert {
	position: absolute;
	top: 85%;
	width: 40%;
	left: 15%;
	z-index: 50;
}

#loadingWheel {
	position: absolute;
	top: 25px;
	left: 200px;
}

#loadingWheelDescribe {
	position: absolute;
	top: 48px;
	left: 50%;
}

.btn-circle {
  width: 18px;
  height: 18px;
  text-align: center;
  padding-left: 3px;
  padding-bottom: 3px;
  font-size: 10px;
  line-height: 1.42;
  border-radius: 15px;
}

#expand {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 50;
}

#shrink {
	position: absolute;
	top: 50px;
	right: 10px;
	z-index: 50;
}

#goLeft {
	position: absolute;
	top: 35px;
	left: 10px;
	z-index: 50;
}

#goRight {
	position: absolute;
	top: 35px;
	left: 90px;
	z-index: 50;
}

#playTimeline {
	position: absolute;
	top: 35px;
	left: 50px;
	z-index: 50;
}

#currentTime {
	position: absolute;
	top: 10px;
	left: 10px;	
	z-index: 50;
}

#days {
	position: absolute;
	top: 65px;
	left: 10px;
	width: 115px;
	z-index: 50;
}

#helpTimeline {
	position: absolute;
	top: 110px;
	left: 10px;
	width: 75px;
	z-index: 50;
}

/* Adjust Menu colors - Normal */
.dropdown-toggle {
	font-size: 20px;
}

.dropdown-header {
	color: #148CB4;
}

/* Navbar adjustments */
navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

#logo {
	margin-top: 18px;
	margin-right: 10px;
	cursor: hand;
}

#logoNOA {
	margin-top: 17px;
	margin-right: 10px;
	cursor: hand;
}

.sbaText {
	color: #FFFFFF;
}
.sbaParent {
	margin-bottom: 1px;
	border-radius: 4px;
	width: 80%;
	margin: 0 auto;
	padding-left: 5px;
}
.sba_Agriculture {
	background-color: #b1c800;
}
.sba_Biodiversity {
	background-color: #058878;
}
.sba_Climate {
	background-color: #f08a00;
}
.sba_Disasters {
	background-color: #af9e92;
}
.sba_Ecosystems {
	background-color: #005ea8;
}
.sba_Energy {
	background-color: #fcc400;
}
.sba_Health {
	background-color: #bd444e;
}
.sba_Water {
	background-color: #82b1b6;
}
.sba_Weather {
	background-color: #7a6e66;
}

#GEOSSPortalResultForm, #searchResultsBody {
	height: 70%;
	overflow-y: auto;
}

.groupButtonHeader {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #C2D1E0;
	padding-top: 5px;
	color: #80B2FF;	
	margin-top: 5px;
}

.iconImage {
	display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
}

#myTest {
	position: absolute;
	width: 98%;
	left: 1%;
	z-index: 1;
}

#NOAiframe {
	width: 100%;
	height: 85%;
}

#NOA {
	position: absolute;
	width: 99%;
	left: 0.5%;
	height: 99%;
	top: 55px;
	z-index: -100;
}

a { 
	cursor: hand; 
}

a.exploreURI, a.exploreURIprop, a.exploreURIrange {
	word-wrap: break-word;
}

a.exploreURIprop {
	color: #5cb85c;
}

a.exploreURIrange {
	color: grey;
}

.btn-success .badge {
	color: #fff;
	background-color: #408140;
}

.btn-default .badge {
	color: #fff;
	background-color: #B4B4B4;
	text-shadow: none;
}

#discoverResults {
	height: 80%;
	overflow-y: auto;
}

.modal-disribe {
	width: 80%;
}

.describeDelimeter {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #D2D2D2;
}

.describeColumnTitle {
	text-align: center;
}

.breadcrumb {
	color: grey;
}

/* Popups */

.olPopupCloseBox {
    background: url("img/gmap_ui.png") no-repeat;
    background-position: 0px -334px;
    cursor: pointer;
    top: 10px;
    right: 10px;
}

.olFramedCloudPopupContent {
    padding: 7px;
    overflow: auto;
    font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
    font-size: 10px;
    width: auto;
    height: auto;
    background: white;
}
.olFramedCloudPopupContent .title{
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: bold;
}

div.infotitle {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: bold;
}

.toggleFilters {
	
}

img.evtIcon {
	width: 12px;
	height: auto;
}

#manualFrame {
	width: 100%;
	height: 85%;
}

#manualPages {
	position: absolute;
	width: 70%;
	left: 15%;
	height: 90%;
	top: 55px;
	z-index: 2000;
}

.popover-title span {
	display:block;
	float: left;
	width: auto;
	font-size: 18px; 
	font-weight: bold;
	padding: auto;
	color: #008ae6;
}